#######################################
# Ignore everything
#######################################
*

#######################################
# But not these files...
#######################################

# Git
!/.gitignore
!/.gitkeep

# Go
!*.go
!/go.sum
!/go.mod

# Python
!Pipfile
!Pipfile.lock

# Docs
!/README.md
!/LICENSE

#######################################
# ...even if they are in subdirectories
#######################################
!*/

#######################################
# Still, never add these
#######################################
.secrets*
.env
